<div th:replace="shared/header"></div>
<!-- Begin Page Content -->
<div class="container-fluid">

    <div class="px-4 py-5 my-5 text-center">
        <br>
        <br>
        <br>


        <div th:switch="${current_user != null}">
            <div th:case="true">
                <div class="col-lg-6 mx-auto">
                    <p class="lead mb-4">Tire suas dúvidas com nossos técnicos.</p>
                    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                        <a type="button" class="btn btn-primary btn-lg px-4 gap-3" th:href="@{/realizar-call}">Realizar uma Chamada</a>

                    </div>
                </div>
            </div>
            <div th:case="false">
                <h1 class="display-5 fw-bold text-body-emphasis">Bem-vindo!</h1>
                <div class="col-lg-6 mx-auto">
                    <p class="lead mb-4">Tire suas dúvidas com nossos técnicos.</p>
                    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                        <a type="button" class="btn btn-primary btn-lg px-4 gap-3" th:href="@{/login}">Login</a>
                        <p>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp</p>
                        <a type="button" class="btn btn-outline-secondary btn-lg px-4"
                           th:href="@{/register}">Registre-se</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</div>
<div th:replace="shared/footer"></div>