<div th:replace="shared/header"></div>

    <div class="justify-content-center align-items-center row">
        <div class="meuCard">
            <h4 class="font-weight-bold"> Iniciando uma Chamada </h4>
                <form>
                    <div class="form-group">
                        <p class="font-weight-normal "><b> Título do Problema </b></p>
                        <input type="text" class="form-control form-control-user" id="title"  name="title" placeholder="Nome do Titulo">
                    </div>
                    <div class="form-group">
                        <p class="font-weight-normal"> <b>Descrição do Problema</b></p>
                        <input type="text" class="form-control form-control-user" id="description"  name="description" placeholder="Descrição">
                    </div>
                </form>

        </div>

    </div>

<div th:replace="shared/footer"></div>